{{!< default}}
		
	{{#post}}
		
		<div class="twelve columns">
			<hr />
			<h1 class="headline-95">{{title}}</h1>
			<hr />
		</div>
		
		<div class="twelve columns">
			{{content}}
		</div>
		
		{{> social-icons}}
		
		<div class="twelve columns">
		<hr />
		</div>
	{{/post}}