<div id="disqus_thread">
    <script type="text/javascript">
        var disqus_shortname = 'ithas85';
        var disqus_identifier = '{{post.id}}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>If you enable JavaScript, you can view the comments. Your choice, though. Just letting you know.</noscript>
    <br>
    <a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
</div>