<nav class="menu" role="nav">
    <ul>
 	  <li><a href="http://tywe.herokuapp.com">Home</a></li>
 	  <li>&#x25c9;</li>
      <li><a href="http://tywe.herokuapp.com/about/">About</a></li>
    </ul>
</nav>