<nav class="menu" role="nav">
    <ul>
 	  <li><a href="http://tywe.herokuapp.com">Home</a></li>
      <li><a href="http://tywe.herokuapp.com/about/">About Me</a></li>
      <li><a href="http://tywe.herokuapp.com/wetpaint/">Seriously this link just 404s</a></li>
    </ul>
</nav>