<nav class="menu" role="nav">
    <ul>
 	  <li><a href="http://tywe.herokuapp.com">Home</a></li>
 	  <li><a href="http://en.wikipedia.org/Special:Random>WOOOOOOOM</a></li>
      <li><a href="http://tywe.herokuapp.com/about/">About</a></li>
    </ul>
</nav>