		<!-- Author Box -->
		<div class="twelve columns">
		<section class="author-box">
            <div class="author-image">
                <div class="author-image-inner" style="background-image: url({{author.image}});"></div> 
            </div>
            <div class="author-bio">
                <div class="author-name">{{author.name}}</div>
                <div class="author-bio-text">{{author.bio}}</div>
			</div>
        </section>
		</div>
		<!-- End Author Box -->