	<!- Pagination -->
	<div class="twelve columns">
		<ul class="top-space">
			{{#if prev}}<li class="post-nav-left"><a href="{{pageUrl prev}}">&laquo; Prev</a></li>{{/if}}
			{{#if next}}<li class="post-nav-right"><a href="{{pageUrl next}}">Next &raquo;</a></li>{{/if}}
		</ul>
		<hr />
	</div>